# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

os:
  - linux
  - osx

r:
  - release
  - oldrel
  - devel
  
addons:
  apt:
    packages:
      - ghostscript
  
before_install:
  - if [[ "$OSTYPE" != "linux-gnu" ]]; then sudo tlmgr install framed titling; fi
  
brew_packages:
  - libgit2
  - ghostscript

r_packages:
  - covr
  - Rcpp
  - RcppArmadillo
  - testthat
  - knitr
  - rmarkdown

after_success:
  - Rscript -e 'library(covr); codecov()'
