# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

os:
  - linux
  - osx

r:
  - release
  - oldrel
  - devel
  
brew_packages:
  - libgit2

r_packages:
  - covr
  - Rcpp
  - RcppArmadillo

after_success:
  - Rscript -e 'library(covr); codecov()'
